<h2 class="text-center mt-4 mb-4">Welcome to Remote Cafe!</h2>
    <div class="container" id="home-container">
    <%= render 'pages/carousel'  %>
    <%= "Hello" %>
   <%= javascript_pack_tag("hello_react") %>
    </div>
</div> 